.App-header {
    background-color: white;
    min-height: 70px;
    padding: 20px;
    color: black;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.527);
    margin: 0px 10px 20px 10px;
    border-radius: 0em 0em 1em 1em;
  }
  
  .App-title {
    font-size: 2em;
    text-decoration: underline;
  }

